.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background:transparent;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span {
  background-color: #0066ff;
  color: white;
  padding: 0 4px;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
  transition: color 0.3s;
}
.nav-links a:nth-child(6){
  color: #0066ff;
}


.nav-links a:hover {
  color: #0066ff;
}
.register :hover{
  color: #666;
}