/* .car-type-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
  }
  
  .car-type-container {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .car-type-container:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .car-type-card {
    text-align: center;
    cursor: pointer;
    padding: 10px;
  }
  
  .car-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .type-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
  }
   */

/* CarCompanyCard.css */
.car-company-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.car-company-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.car-company-card:hover {
  transform: scale(1.05);
}

.company-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
